### PACKETBEAT

In [16]:
import pandas as pd

df = pd.read_csv('data/data_packetbeat.csv', low_memory=False)
df

,@timestamp,@version,_id,_index,_score,_type,agent.ephemeral_id,agent.hostname,agent.id,agent.type,...,server.bytes,server.ip,server.port,source.bytes,source.ip,source.packets,source.port,status,tags,type
0,"Jan 13, 2020 @ 14:19:10.001",1,5BVFn28B3Y26iTaw0weI,logstash-2020.01.13-000001,NaN,_doc,0189a605-49eb-4a0f-bb7d-861415811ba2,ip-172-31-91-217.ec2.internal,a5733220-289e-45c3-bea9-0c7a5cdd3335,packetbeat,...,NaN,NaN,NaN,"23,080",193.146.78.93,335.0,"34,039",NaN,"[""beats_input_raw_event""]",flow
1,"Jan 13, 2020 @ 14:19:10.001",1,5RVFn28B3Y26iTaw0weI,logstash-2020.01.13-000001,NaN,_doc,0189a605-49eb-4a0f-bb7d-861415811ba2,ip-172-31-91-217.ec2.internal,a5733220-289e-45c3-bea9-0c7a5cdd3335,packetbeat,...,NaN,NaN,NaN,112,92.118.37.99,2.0,"43,304",NaN,"[""beats_input_raw_event""]",flow
2,"Jan 13, 2020 @ 14:19:10.001",1,9xVFn28B3Y26iTaw0weJ,logstash-2020.01.13-000001,NaN,_doc,0189a605-49eb-4a0f-bb7d-861415811ba2,ip-172-31-91-217.ec2.internal,a5733220-289e-45c3-bea9-0c7a5cdd3335,packetbeat,...,NaN,NaN,NaN,"1,848",203.114.235.170,15.0,"58,721",NaN,"[""beats_input_raw_event""]",flow
3,"Jan 13, 2020 @ 14:19:10.001",1,5xVFn28B3Y26iTaw0weI,logstash-2020.01.13-000001,NaN,_doc,0189a605-49eb-4a0f-bb7d-861415811ba2,ip-172-31-91-217.ec2.internal,a5733220-289e-45c3-bea9-0c7a5cdd3335,packetbeat,...,NaN,NaN,NaN,"1,792",203.114.235.170,14.0,"51,308",NaN,"[""beats_input_raw_event""]",flow
4,"Jan 13, 2020 @ 14:19:10.001",1,-RVFn28B3Y26iTaw0weJ,logstash-2020.01.13-000001,NaN,_doc,0189a605-49eb-4a0f-bb7d-861415811ba2,ip-172-31-91-217.ec2.internal,a5733220-289e-45c3-bea9-0c7a5cdd3335,packetbeat,...,NaN,NaN,NaN,"1,848",203.114.235.170,15.0,"8,913",NaN,"[""beats_input_raw_event""]",flow
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12555,"Jan 13, 2020 @ 12:59:00.005",1,jRT8nm8B3Y26iTawbq-D,logstash-2020.01.13-000001,NaN,_doc,0189a605-49eb-4a0f-bb7d-861415811ba2,ip-172-31-91-217.ec2.internal,a5733220-289e-45c3-bea9-0c7a5cdd3335,packetbeat,...,NaN,NaN,NaN,90,172.31.91.217,1.0,"59,178",NaN,"[""beats_input_raw_event""]",flow
12556,"Jan 13, 2020 @ 12:59:00.005",1,lhT8nm8B3Y26iTawbq-E,logstash-2020.01.13-000001,NaN,_doc,0189a605-49eb-4a0f-bb7d-861415811ba2,ip-172-31-91-217.ec2.internal,a5733220-289e-45c3-bea9-0c7a5cdd3335,packetbeat,...,NaN,NaN,NaN,90,172.31.91.217,1.0,"51,406",NaN,"[""beats_input_raw_event""]",flow
12557,"Jan 13, 2020 @ 12:59:00.005",1,lxT8nm8B3Y26iTawbq-E,logstash-2020.01.13-000001,NaN,_doc,0189a605-49eb-4a0f-bb7d-861415811ba2,ip-172-31-91-217.ec2.internal,a5733220-289e-45c3-bea9-0c7a5cdd3335,packetbeat,...,NaN,NaN,NaN,92,172.31.91.217,1.0,"45,786",NaN,"[""beats_input_raw_event""]",flow
12558,"Jan 13, 2020 @ 12:59:00.005",1,mBT8nm8B3Y26iTawbq-E,logstash-2020.01.13-000001,NaN,_doc,0189a605-49eb-4a0f-bb7d-861415811ba2,ip-172-31-91-217.ec2.internal,a5733220-289e-45c3-bea9-0c7a5cdd3335,packetbeat,...,NaN,NaN,NaN,90,172.31.91.217,1.0,"45,017",NaN,"[""beats_input_raw_event""]",flow
12559,"Jan 13, 2020 @ 12:59:00.005",1,mRT8nm8B3Y26iTawbq-E,logstash-2020.01.13-000001,NaN,_doc,0189a605-49eb-4a0f-bb7d-861415811ba2,ip-172-31-91-217.ec2.internal,a5733220-289e-45c3-bea9-0c7a5cdd3335,packetbeat,...,NaN,NaN,NaN,92,172.31.91.217,1.0,"49,985",NaN,"[""beats_input_raw_event""]",flow

In [17]:
df = df.dropna(axis=1, how = 'all')
df = df.drop(['@version','network.direction', 'dns.type', '_type', 'client.bytes','dns.answers_count', 'dns.authorities_count','dns.flags.authentic_data', 'client.ip', 'client.port','server.bytes', 'server.ip', 'server.port', '_id', '_index', '_type', 'agent.ephemeral_id', 'agent.hostname', 'agent.id', 'agent.version', 'cloud.account.id', 'cloud.availability_zone', 'cloud.image.id', 'cloud.instance.id', 'cloud.machine.type', 'cloud.provider', 'cloud.region', 'ecs.version', 'event.kind', 'host.architecture', 'host.containerized', 'host.os.name', 'host.os.platform', 'dns.additionals_count', 'dns.flags.authoritative', 'dns.flags.checking_disabled', 'dns.flags.recursion_available', 'dns.flags.recursion_desired','dns.flags.truncated_response','dns.header_flags', 'dns.id', 'query', 'resource', 'dns.question.class', 'dns.question.etld_plus_one', 'dns.question.name', 'network.protocol', 'dns.op_code', 'dns.question.registered_domain', 'dns.question.type','dns.response_code', 'status', 'event.action', 'event.category', 'tags', 'type', 'network.type', 'host.hostname', 'host.name', 'host.os.codename', 'host.os.family',
       'host.os.kernel', 'host.os.version', 'method', 'flow.id', 'network.community_id', 'flow.final'], axis=1)
df

,@timestamp,agent.type,destination.bytes,destination.ip,destination.packets,destination.port,event.dataset,event.duration,event.end,event.start,network.bytes,network.packets,network.transport,source.bytes,source.ip,source.packets,source.port
0,"Jan 13, 2020 @ 14:19:10.001",packetbeat,"307,728",172.31.91.217,327.0,22,flow,"9,149,952,108,596","Jan 13, 2020 @ 14:19:08.786","Jan 13, 2020 @ 11:46:38.834","330,808",662,tcp,"23,080",193.146.78.93,335.0,"34,039"
1,"Jan 13, 2020 @ 14:19:10.001",packetbeat,56,172.31.91.217,1.0,"14,102",flow,"87,498","Jan 13, 2020 @ 14:18:11.443","Jan 13, 2020 @ 14:18:11.443",168,3,tcp,112,92.118.37.99,2.0,"43,304"
2,"Jan 13, 2020 @ 14:19:10.001",packetbeat,"2,289",172.31.91.217,10.0,22,flow,"5,632,239,245","Jan 13, 2020 @ 14:18:22.195","Jan 13, 2020 @ 14:18:16.562","4,137",25,tcp,"1,848",203.114.235.170,15.0,"58,721"
3,"Jan 13, 2020 @ 14:19:10.001",packetbeat,"2,289",172.31.91.217,10.0,22,flow,"3,583,794,677","Jan 13, 2020 @ 14:18:28.339","Jan 13, 2020 @ 14:18:24.755","4,081",24,tcp,"1,792",203.114.235.170,14.0,"51,308"
4,"Jan 13, 2020 @ 14:19:10.001",packetbeat,"2,289",172.31.91.217,10.0,22,flow,"4,096,117,409","Jan 13, 2020 @ 14:18:32.434","Jan 13, 2020 @ 14:18:28.338","4,137",25,tcp,"1,848",203.114.235.170,15.0,"8,913"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12555,"Jan 13, 2020 @ 12:59:00.005",packetbeat,178,172.31.0.2,1.0,53,flow,"92,675","Jan 13, 2020 @ 12:58:54.963","Jan 13, 2020 @ 12:58:54.962",268,2,udp,90,172.31.91.217,1.0,"59,178"
12556,"Jan 13, 2020 @ 12:59:00.005",packetbeat,178,172.31.0.2,1.0,53,flow,"103,432","Jan 13, 2020 @ 12:58:19.123","Jan 13, 2020 @ 12:58:19.122",268,2,udp,90,172.31.91.217,1.0,"51,406"
12557,"Jan 13, 2020 @ 12:59:00.005",packetbeat,92,169.254.169.123,1.0,123,flow,"49,203","Jan 13, 2020 @ 12:58:31.411","Jan 13, 2020 @ 12:58:31.411",184,2,udp,92,172.31.91.217,1.0,"45,786"
12558,"Jan 13, 2020 @ 12:59:00.005",packetbeat,178,172.31.0.2,1.0,53,flow,"92,502","Jan 13, 2020 @ 12:58:39.603","Jan 13, 2020 @ 12:58:39.602",268,2,udp,90,172.31.91.217,1.0,"45,017"
12559,"Jan 13, 2020 @ 12:59:00.005",packetbeat,92,169.254.169.123,1.0,123,flow,"52,203","Jan 13, 2020 @ 12:58:47.794","Jan 13, 2020 @ 12:58:47.794",184,2,udp,92,172.31.91.217,1.0,"49,985"

In [18]:
df = df.sort_values(by='@timestamp')
df = df.reset_index()
del df['index']
df

,@timestamp,agent.type,destination.bytes,destination.ip,destination.packets,destination.port,event.dataset,event.duration,event.end,event.start,network.bytes,network.packets,network.transport,source.bytes,source.ip,source.packets,source.port
0,"Jan 13, 2020 @ 12:59:00.005",packetbeat,92,169.254.169.123,1.0,123,flow,"52,203","Jan 13, 2020 @ 12:58:47.794","Jan 13, 2020 @ 12:58:47.794",184,2,udp,92,172.31.91.217,1.0,"49,985"
1,"Jan 13, 2020 @ 12:59:00.005",packetbeat,"147,932",172.31.91.217,159.0,22,flow,"4,319,744,195,010","Jan 13, 2020 @ 12:58:38.579","Jan 13, 2020 @ 11:46:38.834","159,500",327,tcp,"11,568",193.146.78.93,168.0,"34,039"
2,"Jan 13, 2020 @ 12:59:00.005",packetbeat,"2,289",172.31.91.217,10.0,22,flow,"4,096,005,300","Jan 13, 2020 @ 12:58:17.074","Jan 13, 2020 @ 12:58:12.978","4,025",23,tcp,"1,736",203.114.235.170,13.0,"31,764"
3,"Jan 13, 2020 @ 12:59:00.005",packetbeat,"2,289",172.31.91.217,10.0,22,flow,"6,143,909,439","Jan 13, 2020 @ 12:58:27.826","Jan 13, 2020 @ 12:58:21.683","4,137",25,tcp,"1,848",203.114.235.170,15.0,"46,170"
4,"Jan 13, 2020 @ 12:59:00.005",packetbeat,"2,289",172.31.91.217,10.0,22,flow,"6,143,951,873","Jan 13, 2020 @ 12:58:41.138","Jan 13, 2020 @ 12:58:34.994","4,081",24,tcp,"1,792",203.114.235.170,14.0,"46,801"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12555,"Jan 13, 2020 @ 14:19:10.001",packetbeat,"2,289",172.31.91.217,10.0,22,flow,"4,096,030,614","Jan 13, 2020 @ 14:18:36.530","Jan 13, 2020 @ 14:18:32.434","4,081",24,tcp,"1,792",203.114.235.170,14.0,"8,435"
12556,"Jan 13, 2020 @ 14:19:10.001",packetbeat,"2,289",172.31.91.217,10.0,22,flow,"3,071,949,618","Jan 13, 2020 @ 14:18:25.266","Jan 13, 2020 @ 14:18:22.194","3,969",22,tcp,"1,680",203.114.235.170,12.0,"51,975"
12557,"Jan 13, 2020 @ 14:19:10.001",packetbeat,56,172.31.91.217,1.0,"2,121",flow,"76,843","Jan 13, 2020 @ 14:18:17.075","Jan 13, 2020 @ 14:18:17.075",168,3,tcp,112,185.156.73.54,2.0,"45,725"
12558,"Jan 13, 2020 @ 14:19:10.001",packetbeat,92,169.254.169.123,1.0,123,flow,"34,619","Jan 13, 2020 @ 14:19:09.810","Jan 13, 2020 @ 14:19:09.810",184,2,udp,92,172.31.91.217,1.0,"37,726"
12559,"Jan 13, 2020 @ 14:19:10.001",packetbeat,"307,728",172.31.91.217,327.0,22,flow,"9,149,952,108,596","Jan 13, 2020 @ 14:19:08.786","Jan 13, 2020 @ 11:46:38.834","330,808",662,tcp,"23,080",193.146.78.93,335.0,"34,039"

In [20]:
split = df['@timestamp'][1].split()
split[1].replace()
split

['Jan', '13,', '2020', '@', '12:59:00.005']

In [39]:
import calendar
import datetime
abbr_to_num = {name: num for num, name in enumerate(calendar.month_abbr) if num}
date = str(split[2]) + "-" + str(abbr_to_num[split[0]]) + "-" + str(split[1]) + str(split[4])

split[1]
x = datetime.datetime(int(split[2]), int(abbr_to_num[split[0]]), int(split[1]))
print(x)

ValueError: invalid literal for int() with base 10: '13,'

In [14]:
from datetime import datetime
now = datetime.now()
now

datetime.datetime(2020, 1, 16, 8, 33, 58, 295359)

### HONEYPOT

In [192]:
df_hon = pd.read_csv('data/data_honeypot.csv', low_memory=False)
df_hon

,@timestamp,@version,_id,_index,_score,_type,beat.hostname,beat.name,beat.version,connection,...,mssql_fingerprint,mssql_fingerprint_appname,mssql_fingerprint_cltintname,mssql_fingerprint_hostname,prospector.type,remote_host,remote_hostname,remote_port,tags,timestamp
0,"January 9th 2020, 09:44:10.927",1,oYmwiW8BqsQZih0opyJ1,dionaea-2020.01.09,NaN,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"269,339",...,"268,252",NaN,OLEDB,DUONGKHA,log,113.161.194.96,static.vnpt.vn,"53,552",[],"January 9th 2020, 09:43:50.529"
1,"January 9th 2020, 09:44:10.927",1,oomwiW8BqsQZih0opyJ1,dionaea-2020.01.09,NaN,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"269,342",...,"268,253",NaN,OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"56,479",[],"January 9th 2020, 09:43:51.288"
2,"January 9th 2020, 09:44:10.927",1,pYmwiW8BqsQZih0opyJ1,dionaea-2020.01.09,NaN,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"269,345",...,"268,256",NaN,OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"56,610",[],"January 9th 2020, 09:43:51.977"
3,"January 9th 2020, 09:44:10.927",1,rImwiW8BqsQZih0opyJ1,dionaea-2020.01.09,NaN,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"269,352",...,"268,263",NaN,OLEDB,DUONGKHA,log,113.161.194.96,static.vnpt.vn,"55,365",[],"January 9th 2020, 09:43:53.954"
4,"January 9th 2020, 09:44:10.927",1,rYmwiW8BqsQZih0opyJ1,dionaea-2020.01.09,NaN,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"269,354",...,"268,264",NaN,OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"57,113",[],"January 9th 2020, 09:43:54.635"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9701,"January 9th 2020, 09:29:05.636",1,44iiiW8BqsQZih0o0fyN,dionaea-2020.01.09,NaN,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"264,438",...,"263,371",NaN,OLEDB,DUONGKHA,log,113.161.194.96,static.vnpt.vn,"64,105",[],"January 9th 2020, 09:28:03.542"
9702,"January 9th 2020, 09:29:05.636",1,5IiiiW8BqsQZih0o0fyN,dionaea-2020.01.09,NaN,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"264,439",...,"263,372",NaN,OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"64,967",[],"January 9th 2020, 09:28:03.785"
9703,"January 9th 2020, 09:29:05.636",1,5oiiiW8BqsQZih0o0fyN,dionaea-2020.01.09,NaN,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"264,441",...,"263,374",NaN,OLEDB,LENOVO-PC,log,36.72.218.112,36.72.218.112,"52,670",[],"January 9th 2020, 09:28:04.042"
9704,"January 9th 2020, 09:29:05.636",1,54iiiW8BqsQZih0o0fyN,dionaea-2020.01.09,NaN,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"264,443",...,"263,375",NaN,OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"65,111",[],"January 9th 2020, 09:28:04.501"
9705,"January 9th 2020, 09:29:05.636",1,6YiiiW8BqsQZih0o0fyN,dionaea-2020.01.09,NaN,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"264,442",...,"263,377",NaN,OLEDB,DUONGKHA,log,113.161.194.96,static.vnpt.vn,"64,620",[],"January 9th 2020, 09:28:04.460"

In [193]:
df_hon = df_hon.dropna(axis=1, how = 'all')
df_hon

,@timestamp,@version,_id,_index,_type,beat.hostname,beat.name,beat.version,connection,connection_protocol,...,mssql_fingerprint,mssql_fingerprint_appname,mssql_fingerprint_cltintname,mssql_fingerprint_hostname,prospector.type,remote_host,remote_hostname,remote_port,tags,timestamp
0,"January 9th 2020, 09:44:10.927",1,oYmwiW8BqsQZih0opyJ1,dionaea-2020.01.09,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"269,339",mssqld,...,"268,252",NaN,OLEDB,DUONGKHA,log,113.161.194.96,static.vnpt.vn,"53,552",[],"January 9th 2020, 09:43:50.529"
1,"January 9th 2020, 09:44:10.927",1,oomwiW8BqsQZih0opyJ1,dionaea-2020.01.09,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"269,342",mssqld,...,"268,253",NaN,OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"56,479",[],"January 9th 2020, 09:43:51.288"
2,"January 9th 2020, 09:44:10.927",1,pYmwiW8BqsQZih0opyJ1,dionaea-2020.01.09,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"269,345",mssqld,...,"268,256",NaN,OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"56,610",[],"January 9th 2020, 09:43:51.977"
3,"January 9th 2020, 09:44:10.927",1,rImwiW8BqsQZih0opyJ1,dionaea-2020.01.09,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"269,352",mssqld,...,"268,263",NaN,OLEDB,DUONGKHA,log,113.161.194.96,static.vnpt.vn,"55,365",[],"January 9th 2020, 09:43:53.954"
4,"January 9th 2020, 09:44:10.927",1,rYmwiW8BqsQZih0opyJ1,dionaea-2020.01.09,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"269,354",mssqld,...,"268,264",NaN,OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"57,113",[],"January 9th 2020, 09:43:54.635"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9701,"January 9th 2020, 09:29:05.636",1,44iiiW8BqsQZih0o0fyN,dionaea-2020.01.09,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"264,438",mssqld,...,"263,371",NaN,OLEDB,DUONGKHA,log,113.161.194.96,static.vnpt.vn,"64,105",[],"January 9th 2020, 09:28:03.542"
9702,"January 9th 2020, 09:29:05.636",1,5IiiiW8BqsQZih0o0fyN,dionaea-2020.01.09,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"264,439",mssqld,...,"263,372",NaN,OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"64,967",[],"January 9th 2020, 09:28:03.785"
9703,"January 9th 2020, 09:29:05.636",1,5oiiiW8BqsQZih0o0fyN,dionaea-2020.01.09,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"264,441",mssqld,...,"263,374",NaN,OLEDB,LENOVO-PC,log,36.72.218.112,36.72.218.112,"52,670",[],"January 9th 2020, 09:28:04.042"
9704,"January 9th 2020, 09:29:05.636",1,54iiiW8BqsQZih0o0fyN,dionaea-2020.01.09,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"264,443",mssqld,...,"263,375",NaN,OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"65,111",[],"January 9th 2020, 09:28:04.501"
9705,"January 9th 2020, 09:29:05.636",1,6YiiiW8BqsQZih0o0fyN,dionaea-2020.01.09,doc,ip-172-31-88-210,ip-172-31-88-210,6.6.0,"264,442",mssqld,...,"263,377",NaN,OLEDB,DUONGKHA,log,113.161.194.96,static.vnpt.vn,"64,620",[],"January 9th 2020, 09:28:04.460"

In [194]:
df_hon = df_hon.drop(['@version','_index', '_type', 'beat.hostname', 'beat.name', 'beat.version', 'connection_protocol', 'document_type', 'mssql_fingerprint_appname', 'tags'], axis=1)
df_hon

,@timestamp,_id,connection,connection_root,connection_transport,connection_type,eventid,geoip.city_name,geoip.continent_code,geoip.country_code2,...,login_username,message,mssql_fingerprint,mssql_fingerprint_cltintname,mssql_fingerprint_hostname,prospector.type,remote_host,remote_hostname,remote_port,timestamp
0,"January 9th 2020, 09:44:10.927",oYmwiW8BqsQZih0opyJ1,"269,339","269,339",tcp,accept,mssql_fingerprint,Hanoi,AS,VN,...,NaN,"{""local_host"": ""172.31.88.210"", ""mssql_fingerp...","268,252",OLEDB,DUONGKHA,log,113.161.194.96,static.vnpt.vn,"53,552","January 9th 2020, 09:43:50.529"
1,"January 9th 2020, 09:44:10.927",oomwiW8BqsQZih0opyJ1,"269,342","269,342",tcp,accept,mssql_fingerprint,NaN,AS,PH,...,NaN,"{""local_host"": ""172.31.88.210"", ""mssql_fingerp...","268,253",OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"56,479","January 9th 2020, 09:43:51.288"
2,"January 9th 2020, 09:44:10.927",pYmwiW8BqsQZih0opyJ1,"269,345","269,345",tcp,accept,mssql_fingerprint,NaN,AS,PH,...,NaN,"{""local_host"": ""172.31.88.210"", ""mssql_fingerp...","268,256",OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"56,610","January 9th 2020, 09:43:51.977"
3,"January 9th 2020, 09:44:10.927",rImwiW8BqsQZih0opyJ1,"269,352","269,352",tcp,accept,mssql_fingerprint,Hanoi,AS,VN,...,NaN,"{""local_host"": ""172.31.88.210"", ""mssql_fingerp...","268,263",OLEDB,DUONGKHA,log,113.161.194.96,static.vnpt.vn,"55,365","January 9th 2020, 09:43:53.954"
4,"January 9th 2020, 09:44:10.927",rYmwiW8BqsQZih0opyJ1,"269,354","269,354",tcp,accept,mssql_fingerprint,NaN,AS,PH,...,NaN,"{""local_host"": ""172.31.88.210"", ""mssql_fingerp...","268,264",OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"57,113","January 9th 2020, 09:43:54.635"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9701,"January 9th 2020, 09:29:05.636",44iiiW8BqsQZih0o0fyN,"264,438","264,438",tcp,accept,mssql_fingerprint,Hanoi,AS,VN,...,NaN,"{""mssql_fingerprint_cltintname"": ""OLEDB"", ""rem...","263,371",OLEDB,DUONGKHA,log,113.161.194.96,static.vnpt.vn,"64,105","January 9th 2020, 09:28:03.542"
9702,"January 9th 2020, 09:29:05.636",5IiiiW8BqsQZih0o0fyN,"264,439","264,439",tcp,accept,mssql_fingerprint,NaN,AS,PH,...,NaN,"{""mssql_fingerprint_cltintname"": ""OLEDB"", ""rem...","263,372",OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"64,967","January 9th 2020, 09:28:03.785"
9703,"January 9th 2020, 09:29:05.636",5oiiiW8BqsQZih0o0fyN,"264,441","264,441",tcp,accept,mssql_fingerprint,Sitimulyo,AS,ID,...,NaN,"{""mssql_fingerprint_cltintname"": ""OLEDB"", ""rem...","263,374",OLEDB,LENOVO-PC,log,36.72.218.112,36.72.218.112,"52,670","January 9th 2020, 09:28:04.042"
9704,"January 9th 2020, 09:29:05.636",54iiiW8BqsQZih0o0fyN,"264,443","264,443",tcp,accept,mssql_fingerprint,NaN,AS,PH,...,NaN,"{""mssql_fingerprint_cltintname"": ""OLEDB"", ""rem...","263,375",OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"65,111","January 9th 2020, 09:28:04.501"
9705,"January 9th 2020, 09:29:05.636",6YiiiW8BqsQZih0o0fyN,"264,442","264,442",tcp,accept,mssql_fingerprint,Hanoi,AS,VN,...,NaN,"{""mssql_fingerprint_cltintname"": ""OLEDB"", ""rem...","263,377",OLEDB,DUONGKHA,log,113.161.194.96,static.vnpt.vn,"64,620","January 9th 2020, 09:28:04.460"

In [195]:
df_hon = df_hon.sort_values(by='timestamp')
df_hon = df_hon.reset_index()
del df_hon['index']
df_hon

,@timestamp,_id,connection,connection_root,connection_transport,connection_type,eventid,geoip.city_name,geoip.continent_code,geoip.country_code2,...,login_username,message,mssql_fingerprint,mssql_fingerprint_cltintname,mssql_fingerprint_hostname,prospector.type,remote_host,remote_hostname,remote_port,timestamp
0,"January 9th 2020, 09:29:05.636",3oiiiW8BqsQZih0o0fyN,"264,433","264,433",tcp,accept,mssql_fingerprint,Yogyakarta,AS,ID,...,NaN,"{""mssql_fingerprint_cltintname"": ""OLEDB"", ""rem...","263,366",OLEDB,AA-PC,log,119.2.52.239,ipv4-239-52-2.as55666.net,"62,491","January 9th 2020, 09:28:02.637"
1,"January 9th 2020, 09:29:05.636",4IiiiW8BqsQZih0o0fyN,"264,435","264,435",tcp,accept,mssql_fingerprint,NaN,AS,PH,...,NaN,"{""mssql_fingerprint_cltintname"": ""OLEDB"", ""rem...","263,368",OLEDB,06ygnm1m50,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"64,858","January 9th 2020, 09:28:03.322"
2,"January 9th 2020, 09:29:05.636",4YiiiW8BqsQZih0o0fyN,"264,436","264,436",tcp,accept,mssql_fingerprint,Yogyakarta,AS,ID,...,NaN,"{""mssql_fingerprint_cltintname"": ""OLEDB"", ""rem...","263,369",OLEDB,fvsdiv6a1g,log,119.2.52.239,ipv4-239-52-2.as55666.net,"62,703","January 9th 2020, 09:28:03.451"
3,"January 9th 2020, 09:29:05.636",44iiiW8BqsQZih0o0fyN,"264,438","264,438",tcp,accept,mssql_fingerprint,Hanoi,AS,VN,...,NaN,"{""mssql_fingerprint_cltintname"": ""OLEDB"", ""rem...","263,371",OLEDB,DUONGKHA,log,113.161.194.96,static.vnpt.vn,"64,105","January 9th 2020, 09:28:03.542"
4,"January 9th 2020, 09:29:05.636",5IiiiW8BqsQZih0o0fyN,"264,439","264,439",tcp,accept,mssql_fingerprint,NaN,AS,PH,...,NaN,"{""mssql_fingerprint_cltintname"": ""OLEDB"", ""rem...","263,372",OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"64,967","January 9th 2020, 09:28:03.785"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9701,"January 9th 2020, 09:44:10.920",zomwiW8BqsQZih0opyE2,"269,382","269,382",tcp,accept,login,Hanoi,AS,VN,...,sa,"{""local_host"": ""172.31.88.210"", ""connection"": ...",NaN,NaN,NaN,log,113.161.194.96,static.vnpt.vn,"59,860","January 9th 2020, 09:44:01.712"
9702,"January 9th 2020, 09:44:10.927",zImwiW8BqsQZih0oqSJr,"269,383","269,383",tcp,accept,mssql_fingerprint,NaN,AS,PH,...,NaN,"{""local_host"": ""172.31.88.210"", ""mssql_fingerp...","268,295",OLEDB,USER-20190613CL,log,113.61.47.184,184.47.61.113.accent.inet.static.eastern-tele.com,"58,498","January 9th 2020, 09:44:01.923"
9703,"January 9th 2020, 09:44:10.920",zYmwiW8BqsQZih0opyE2,"269,384","269,384",tcp,accept,login,Yogyakarta,AS,ID,...,sa,"{""local_host"": ""172.31.88.210"", ""connection"": ...",NaN,NaN,NaN,log,119.2.52.239,ipv4-239-52-2.as55666.net,"50,723","January 9th 2020, 09:44:01.930"
9704,"January 9th 2020, 09:44:10.927",yomwiW8BqsQZih0oqSJr,"269,384","269,384",tcp,accept,mssql_fingerprint,Yogyakarta,AS,ID,...,NaN,"{""local_host"": ""172.31.88.210"", ""mssql_fingerp...","268,293",OLEDB,uxw5jodpav,log,119.2.52.239,ipv4-239-52-2.as55666.net,"50,723","January 9th 2020, 09:44:01.930"
9705,"January 9th 2020, 09:44:10.927",z4mwiW8BqsQZih0oqSJr,"269,385","269,385",tcp,accept,connection,Sitimulyo,AS,ID,...,NaN,"{""local_host"": ""172.31.88.210"", ""connection"": ...",NaN,NaN,NaN,log,36.72.218.112,36.72.218.112,"15,399","January 9th 2020, 09:44:02.265"

In [199]:
df_hon['geoip.city_name'].value_counts(dropna=False)

NaN           2864
Sitimulyo     2314
Hanoi         2155
Yogyakarta    1976
Astana         306
Nanning         89
Goyang-si        1
Jeddah           1
Name: geoip.city_name, dtype: int64

In [200]:
df_hon['login_username'].value_counts(dropna=False)

NaN    5096
sa     4610
Name: login_username, dtype: int64